In [27]:
import pymongo

In [28]:
client= pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [29]:
mydb=client['Employee']
empinfo=mydb.employeeinformation

Documents insertion in  Mongodb as Json

In [33]:
record={'firstname':'Pranita','lastname':'Bhagwat','Age':31}
empinfo.insert_one(record)

InsertOneResult(ObjectId('65a8dcb52512889903be352f'), acknowledged=True)

In [31]:
record=[
    {'firstname':'Smruti','lastname':'Pote','Age':30},
    {'firstname': 'Akshay',"lastname":'Dhudas','Age':30}
       ]
empinfo.insert_many(record)

InsertManyResult([ObjectId('65a8dca62512889903be352d'), ObjectId('65a8dca62512889903be352e')], acknowledged=True)

In [30]:
record=[
    {'firstname':'Manara','lastname':'Chopra','Age':32,'qualification':'graduate'},
    {'firstname': 'Munawar',"lastname":'Farooqui','Age':33,'qualification':'HSC'},
    {'firstname': 'Vikky',"lastname":'Jain','Age':40,'qualification':'MBA'}
       ]
empinfo.insert_many(record)

InsertManyResult([ObjectId('65a8dca32512889903be352a'), ObjectId('65a8dca32512889903be352b'), ObjectId('65a8dca32512889903be352c')], acknowledged=True)

In [ ]:
## simple way of querying

In [13]:
empinfo.find_one() # find_one gives the first record of the document

{'_id': ObjectId('65a8ceb02512889903be3522'),
 'firstname': 'Akshay',
 'lastname': 'Dhudas',
 'Age': 30}

In [34]:
empinfo.find() # this shows cursor at all the records in empinfo

In [35]:
for record in empinfo.find({}):
    print(record)                        #gives all records in empinfo

{'_id': ObjectId('65a8ceb02512889903be3522'), 'firstname': 'Akshay', 'lastname': 'Dhudas', 'Age': 30}
{'_id': ObjectId('65a8cf3f2512889903be3523'), 'firstname': 'Pranita', 'lastname': 'Bhagwat', 'Age': 31}
{'_id': ObjectId('65a8d00c2512889903be3524'), 'firstname': 'Smruti', 'lastname': 'Pote', 'Age': 30}
{'_id': ObjectId('65a8dae02512889903be3526'), 'firstname': 'Manara', 'lastname': 'Chopra', 'Age': 32, 'qualification': 'graduate'}
{'_id': ObjectId('65a8dae02512889903be3527'), 'firstname': 'Munawar', 'lastname': 'Farooqui', 'Age': 33, 'qualification': 'HSC'}
{'_id': ObjectId('65a8dae02512889903be3528'), 'firstname': 'Vikky', 'lastname': 'Jain', 'Age': 40, 'qualification': 'MBA'}
{'_id': ObjectId('65a8dca32512889903be352a'), 'firstname': 'Manara', 'lastname': 'Chopra', 'Age': 32, 'qualification': 'graduate'}
{'_id': ObjectId('65a8dca32512889903be352b'), 'firstname': 'Munawar', 'lastname': 'Farooqui', 'Age': 33, 'qualification': 'HSC'}
{'_id': ObjectId('65a8dca32512889903be352c'), 'firstname': 'Vikky', 'lastname': 'Jain', 'Age': 40, 'qualification': 'MBA'}
{'_id': ObjectId('65a8dca62512889903be352d'), 'firstname': 'Smruti', 'lastname': 'Pote', 'Age': 30}
{'_id': ObjectId('65a8dca62512889903be352e'), 'firstname': 'Akshay', 'lastname': 'Dhudas', 'Age': 30}
{'_id': ObjectId('65a8dcb52512889903be352f'), 'firstname': 'Pranita', 'lastname': 'Bhagwat', 'Age': 31}

Query to get employee information where first name is Akshay

In [36]:
for record in empinfo.find({'firstname':'Akshay'}):
    print(record)

{'_id': ObjectId('65a8ceb02512889903be3522'), 'firstname': 'Akshay', 'lastname': 'Dhudas', 'Age': 30}
{'_id': ObjectId('65a8dca62512889903be352e'), 'firstname': 'Akshay', 'lastname': 'Dhudas', 'Age': 30}

## Query documents using query operators($in,$lt,$gt) ; $lt=less than, $gt= greater than

In [37]:
for record in empinfo.find({'qualification':{'$in':['graduate','MBA']}}):
    print(record)

{'_id': ObjectId('65a8dae02512889903be3526'), 'firstname': 'Manara', 'lastname': 'Chopra', 'Age': 32, 'qualification': 'graduate'}
{'_id': ObjectId('65a8dae02512889903be3528'), 'firstname': 'Vikky', 'lastname': 'Jain', 'Age': 40, 'qualification': 'MBA'}
{'_id': ObjectId('65a8dca32512889903be352a'), 'firstname': 'Manara', 'lastname': 'Chopra', 'Age': 32, 'qualification': 'graduate'}
{'_id': ObjectId('65a8dca32512889903be352c'), 'firstname': 'Vikky', 'lastname': 'Jain', 'Age': 40, 'qualification': 'MBA'}

In [ ]:
## and query operators

In [45]:
for record in empinfo.find({'qualifcation':'graduate','Age':{'$lt':35}}):
    print(record)

In [ ]:
## OR operators

In [46]:
for record in empinfo.find({'$or':[{'firstname':'Smruti'},{'Age':30}]}):
    print(record)

{'_id': ObjectId('65a8ceb02512889903be3522'), 'firstname': 'Akshay', 'lastname': 'Dhudas', 'Age': 30}
{'_id': ObjectId('65a8d00c2512889903be3524'), 'firstname': 'Smruti', 'lastname': 'Pote', 'Age': 30}
{'_id': ObjectId('65a8dca62512889903be352d'), 'firstname': 'Smruti', 'lastname': 'Pote', 'Age': 30}
{'_id': ObjectId('65a8dca62512889903be352e'), 'firstname': 'Akshay', 'lastname': 'Dhudas', 'Age': 30}

In [47]:
for record in empinfo.find({'$and':[{'firstname':'Smruti'},{'Age':30}]}):
    print(record)

{'_id': ObjectId('65a8d00c2512889903be3524'), 'firstname': 'Smruti', 'lastname': 'Pote', 'Age': 30}
{'_id': ObjectId('65a8dca62512889903be352d'), 'firstname': 'Smruti', 'lastname': 'Pote', 'Age': 30}

In [48]:
inventory=mydb.inventory

In [50]:
inventory.insert_many([
    {'item':'journal','qty':25,'size':{'h':14,'w':21,'uom':'cm'},'state':'solid'},
    {'item':'book','qty':30,'size':{'h':20,'w':16,'uom':'cm'},'state':'new'},
    {'item':'diary','qty':10,'size':{'h':17,'w':28,'uom':'cm'},'state':'old'}
]);

In [51]:
for records in inventory.find({'size':{'h':14,'w':21,'uom':'cm'}}):
    print(records)

{'_id': ObjectId('65a8e0682512889903be3530'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'state': 'solid'}

In [52]:
for record in inventory.find({'state':'new'}):
    print(record)

{'_id': ObjectId('65a8e0682512889903be3531'), 'item': 'book', 'qty': 30, 'size': {'h': 20, 'w': 16, 'uom': 'cm'}, 'state': 'new'}

In [53]:
for record in inventory.find({'qty':10}):
    print(record)

{'_id': ObjectId('65a8e0682512889903be3532'), 'item': 'diary', 'qty': 10, 'size': {'h': 17, 'w': 28, 'uom': 'cm'}, 'state': 'old'}

In [56]:
for record in inventory.find({'$or':[{'item':'diary'},{'qty':30}]}):
    print(record)

{'_id': ObjectId('65a8e0682512889903be3531'), 'item': 'book', 'qty': 30, 'size': {'h': 20, 'w': 16, 'uom': 'cm'}, 'state': 'new'}
{'_id': ObjectId('65a8e0682512889903be3532'), 'item': 'diary', 'qty': 10, 'size': {'h': 17, 'w': 28, 'uom': 'cm'}, 'state': 'old'}

In [57]:
for record in inventory.find({'qty':{'$gt':10}}):
    print(record)

{'_id': ObjectId('65a8e0682512889903be3530'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'state': 'solid'}
{'_id': ObjectId('65a8e0682512889903be3531'), 'item': 'book', 'qty': 30, 'size': {'h': 20, 'w': 16, 'uom': 'cm'}, 'state': 'new'}